<h1>Поліклініка <span>STAR</span></h1>
<%= render 'flash'%>
<p>Поліклініка <span>"STAR"</span> працюе з 2010 року та постійно розширюється. За цей час
ми встигли допомогти більш ніж 50 тисячам паціентів. Наша поліклініка постійно вдосконалює вміння лікарів
для надання більш компетентних послуг.</p>
